include ../available/available
include ../stickers/stickers

mixin card({ className = false, stock = false, bookmark = true, name, price = false, priceOld, imgName, available = true })
    .card(class=className)
        if stock === true
            +stickers({ className: 'card__stickers' })
        .card__top
            a.card__img-wrapper(href="/products-single.html")
                img.card__img(src=`../img/catalog/${imgName}.jpg` alt="")
            a.card__title(href="/products-single.html")= name
        .card__bottom
            +available({ className: 'card__available', available: available })
            .card__price-wrapper
                .card__prices
                    if price
                        h4.card__price(class= stock ? 'card__price_stock' : false) #{price} тенге
                    if stock
                        .card__old-price #{priceOld} тенге
                button.card__bookmark(class= bookmark ? 'card__bookmark_active' : false)
                    +icon({
                        className: 'card__bookmark-icon',
                        svgName: 'bookmark',
                    })
